###############################################################################################################################################################################
#
#   Config file for specifying inputs into swirlgenerator
#   Swirl profile description: Twin counter-rotating vortices
#
###############################################################################################################################################################################
[METADATA]
# Name of inlet boundary condition output file
filename = example.dat
# Which cfd framework to format the file for (su2, )
format = su2
# Mesh file - the node coordinates of the inlet are taken from this
mesh = example.su2

[EXTRA]
# Uniform axial (streamwise) velocity of inlet (default is 1)
axial_vel = 1.0

#
# For defining the inlet flow field using discrete vortices
# - this will get priority; if both the VORTEX DEFINITIONS and CONTOUR TRANSLATION sections are present, only the tangential plot image will be used for validation
#
[VORTEX DEFINITIONS]
# Vortex model [lo, solid, iso]
vortex_model = LO
# List of vortex data - for each vortex: (x-coord, y-coord, strength, core radius)
vortex1 = (0.083, 0.0, 1.243, 0.250)
vortex2 = (-0.083, 0.0, -1.243, 0.250)

#
# For reconstructing the inlet flow field using contour plots of the tangential and radial flow angles
# - or for quantitative comparison between swirling in plot image and that created by VORTEX DEFINITIONS
#
[CONTOUR TRANSLATION]
# Path to image file containing the contour plot of the tangential flow (swirl) angle
tan_img = testcases\Vel_Profiles\Inviscid-Incompressible\twinswirl\twinswirl_tangential.PNG
# Range of tangential flow angle contour plot colour bar - [min,max] - ie min,max values of the plot
tan_range = [-20,20]
# (Optional) Name of the colourmap used to create the tangential flow angle contour plot - if not provided, swirlgenerator will attempt to extract the colour bar from the input image
tan_cmap = jet
# Path to image file containing the contour plot of the radial flow angle
rad_img = testcases\Vel_Profiles\Inviscid-Incompressible\twinswirl\twinswirl_radial.PNG
# Range of radial flow angle contour plot colour bar - [min,max] - ie min,max values of the plot
rad_range = [-20,20]
# (Optional) Name of the colourmap used to create the radial flow angle contour plot
rad_cmap = jet


#
# If using the -makemesh option to generate a simple domain, specify properties in this section - 'mesh' parameter in METADATA section becomes filename to write to
#
[MESH DEFINITION]
# Shape of inlet (circle, rect)
shape = circle

# Length of domain in z direction
z_side = 5.0
# Mesh density in z direction
z_num_cells = 20

## Needed for circular meshes
#
# Radius of inlet face
radius = 0.5
# Number of mesh cells along one quadrant of the circle
quadrant_num_cells = 10
# Number of mesh cells along the radius (for the outer circular region)
radial_num_cells = 10

## Needed for rectangular meshes
#
# Side lengths of inlet face (width, height)
x_side = 10.0
y_side = 10.0
# Number of mesh cells along each side - for circular domains, this is the mesh density of the square grid which contains the domain, with side length equal to domain diameter
x_num_cells = 20
y_num_cells = 20

