###############################################################################################################################################################################
#
#   Config file for specifying inputs into swirlgenerator
#   Swirl profile description: Twin counter-rotating vortices
#
###############################################################################################################################################################################

[METADATA]
#
# Name of inlet boundary condition output file
	filename = example.dat
#
# Which cfd framework to format the file for (su2, )
#
	format = su2
#
# Mesh file - the node coordinates of the inlet are taken from this
#
	mesh = cylinder.su2
	
#
# For defining the inlet flow field using discrete vortices
#
[VORTEX DEFINITIONS]
#
# Vortex model [lo, solid] - standard Lamb-Oseen model, or forced/solid linear vortex
#
	vortex_model = lo
#
# List of vortex data - for each vortex: (x-coord, y-coord, strength, core radius)
#
	vortex1 = (0.083, 0.0, 1.243, 0.250)
	vortex2 = (-0.083, 0.0, -1.243, 0.250)

[EXTRA]
#
# Uniform axial (streamwise) velocity of inlet (default is 1)
#
	axial_vel = 1.0
#
# Reference length for applying the boundary layer correction - x in Rex
#
	bl_ref_len = 5.0
#
# Min and max values for the swirl angle contour plot colormap
#
	swirl_contour_range = (-20,20)
#
# Number of ticks to show on the swirl angle contour colorbar
#
	swirl_colorbar_num_ticks = 9


#
# For reconstructing the inlet flow field using contour plots of the tangential and radial flow angles
# Each image should only contain one contour plot
#
[CONTOUR TRANSLATION]
#
# Path to image file containing the contour plot of the tangential flow (swirl) angle
#
	tan_img = 
#
# Range of tangential flow angle contour plot colour bar - [min,max] - ie min,max values of the plot
#
	tan_range = [-20,20]
#
# (Optional) Name of the colourmap used to create the tangential flow angle contour plot - if not provided, swirlgenerator will attempt to extract the colour bar from the input image
#
	tan_cmap = jet
#
# Path to image file containing the contour plot of the radial flow angle
#
	rad_img = 
#
# Range of radial flow angle contour plot colour bar - [min,max] - ie min,max values of the plot
#
	rad_range = [-20,20]
#
# (Optional) Name of the colourmap used to create the radial flow angle contour plot
#
	rad_cmap = jet
