###############################################################################################################################################################################
#
#   Config file for specifying inputs into swirlgenerator
#   Swirl profile description: Offset swirl 2 - lamb-oseen vortices
#
###############################################################################################################################################################################
[METADATA]
# Name of inlet boundary condition output file
filename = offsetswirl2_CTM.dat
# Which cfd framework to format the file for (su2, )
format = su2
# Mesh file - the node coordinates of the inlet are taken from this
mesh = cylinder.su2

[CONTOUR TRANSLATION]
# Path to image file containing the contour plot of the tangential flow (swirl) angle
tan_img = offsetswirl2_tangential.PNG
# Range of tangential flow angle contour plot colour bar - [min,max] - ie min,max values of the plot
tan_range = [-20,20]
# (Optional) Name of the colourmap used to create the tangential flow angle contour plot - if not provided, swirlgenerator will attempt to extract the colour bar from the input image
tan_cmap = jet
# Path to image file containing the contour plot of the radial flow angle
rad_img = offsetswirl2_radial.PNG
# Range of radial flow angle contour plot colour bar - [min,max] - ie min,max values of the plot
rad_range = [-20,20]
# (Optional) Name of the colourmap used to create the radial flow angle contour plot
rad_cmap = jet

[EXTRA]
# Uniform axial (streamwise) velocity of inlet ~M 0.145
axial_vel = 1

#swirl_contour_range = (-20,20,-20,20)
